.card{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 70vh;
    margin-top: 60px;
    color: #3d405b;
    overflow: hidden;
    z-index: 10;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 20px;
    font-size: 20px;
}
.bottom-tiles{
    width: 100%;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
.tile{
    text-align: center;
    padding: 10px 0;
}
.temparature{
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
    font-family: Robinson-Outline
}