.sun-container{
    height: 100vh; // SIZE CONTAINER FOR CENTERING
	width: 100%;  // SIZE CONTAINER FOR CENTERING
    background-color:#4bb5e3;
}
  #container {
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    width: 300px;
  }
  
  #sun {
    fill: #ffe160;
  }
  
  #sunBeam {
    fill: #ffe160;
    stroke: #fbeC5d;
    stroke-width: 3;
    stroke-linecap: round;
  }

  @media screen and (min-width: 428px) {
      #container{
          width: 400px;
      }
  }